services:
  backend:
    build: .
    container_name: finance-backend
    env_file:
      - .env.development
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  postgres:
    image: postgres:17
    container_name: expense_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: expense_tracker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: